//定义一些颜色变量
@danger:#cc3600;  //危险、错误
@primary:#6b9eee;  //主打颜色
@words:#373737;   //字体颜色
@lightWords:#999;  //浅色字体颜色
@warn:#dc6a12;      //警告
@success:#7ebf50;  //成功
@gray:#b4b8bc;      //灰色
@dark:#202020;      //黑色